apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  host: <base64-encoded-RDS-endpoint>  # e.g., echo -n "mydbinstance.xxxx.rds.amazonaws.com" | base64
  user: <base64-encoded-db_username>   # e.g., echo -n "admin" | base64
  password: <base64-encoded-db_password>  # e.g., echo -n "yourpassword" | base64