apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: yourdockerhub/product-service:v1
        ports:
        - containerPort: 3001
        env:
        - name: DB_HOST
          value: "<RDS_ENDPOINT>"
        - name: DB_USER
          value: "admin"
        - name: DB_PASS
          value: "password123"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: product-service
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3001
  type: ClusterIP